---
import { Image } from "@astrojs/image/components";
import Button from "@components/Button";
import Decoration from "@components/Decoration.astro";
---

<section class="px-edge">
  <div class="max-w-screen-2xl mx-auto flex justify-between">
    <div class="text-text-light max-w-xl relative z-20">
      <h1 class="font-anton text-6xl leading-snug">
        Welcome To <br />Cambridge Strength
      </h1>
      <div class="mt-6 h-[3px] bg-primary"></div>
      <p class="mt-6 text-lg leading-snug">
        We are located on the Cambridge/Arlington city line at 1 Broadway
        Arlington, MA. We are across the street from the Stop and Shop on 16,
        next to the bike path. Parking is available at the front of the building
        or on the street- plenty of parking. Our door is the dark door to the
        left.
      </p>
      <div class="mt-6 space-x-5">
        <Button>Join CSC</Button>
        <Button color="secondary">Drop In At CSC</Button>
      </div>
    </div>

    <div class="relative">
      <Decoration
        className="absolute -left-40 -bottom-0 translate-x-[-50%] translate-y-[50%]"
      />
      <p
        class="absolute -left-0 top-0 z-0 -rotate-90 translate-y-[50%] -translate-x-[50%] font-anton uppercase text-[190px] text-text-faded"
      >
        strength
      </p>
      <Image
        class="relative z-10"
        src={import("@img/deadlifting-at-cambridge-strength.jpg")}
        alt="deadlifting at cambridge strength"
        format="webp"
      />
    </div>
  </div>
</section>
