---
import "../styles.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";
import TopBar from "@components/TopBar.astro";
export interface Props {
  seo?: {
    metaTitle: string;
    metaDescription: string;
  };
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-dark">
    <div class="overflow-x-hidden relative">
      <TopBar>
        Get in touch with us at info@cambridgestrength.com or 508-614-9763
      </TopBar>
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
