---
import "../styles.css";
import Footer from "../components/Footer.astro";
export interface Props {
  seo?: {
    metaTitle: string;
    metaDescription: string;
  };
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
